<div class="section primary-section" id="about">
    <div class="triangle"></div>
    <div class="container">
        <div class="title">
            <h1>¿Quiénes somos?</h1>
            <p class="left-align"><b>Servicio de Buceo Valiente S.A.C</b>, somos la más experimentada empresa en mantenimiento subacuático. Nos especializamos en mantenimientos preventivos o correctivos, limpiezas, trabajos de soldadura subacuática u otros como rescates subacuáticos y demás.</p>
            <p class="left-align">Operamos sobre la base de personal altamente preparado y especializado en la ejecución de actividades marítimas, a través de programas de Capacitación y Entrenamiento. Asimismo, desarrollamos todas nuestras labores priorizando la seguridad del personal, la propiedad de terceros y la protección de las embarcaciones.</p>
        </div>
        <div class="row-fluid team">
            <div class="span4" id="first-person">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/images/Team1.jpg")" alt="team 1">
                    <h3></h3>
                    <ul class="social">
                        <li>
                            <a href="">
                                <span class="icon-facebook-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-twitter-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-linkedin-circled"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="mask">
                        <h2>Personal Calificado</h2>
                        <p>Altamente preparado y especializado en la ejecución de actividades marítimas.</p>
                    </div>
                </div>
            </div>
            <div class="span4" id="second-person">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/images/Team2.jpg")" alt="team 1">
                    <h3></h3>
                    <ul class="social">
                        <li>
                            <a href="">
                                <span class="icon-facebook-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-twitter-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-linkedin-circled"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="mask">
                        <h2>Especialistas</h2>
                        <p>Limpieza de cascos.</p>
                    </div>
                </div>
            </div>
            <div class="span4" id="third-person">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/images/Team3.jpg")" alt="team 1">
                    <h3></h3>
                    <ul class="social">
                        <li>
                            <a href="">
                                <span class="icon-facebook-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-twitter-circled"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-linkedin-circled"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="mask">
                        <h2>Clientes</h2>
                        <p>Rosa Naútica.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-text centered">
            <h3>Nuestra Misión</h3>
            <p>Ofrecer alternativas de limpieza sustentables a las empresas, reduciendo costos de mantenimiento y beneficios de alto impacto ambiental.</p>
        </div>
    </div>
</div>