<div id="clients">
    <div class="section primary-section">
        <div class="triangle"></div>
        <div class="container">
            <div class="title">
                <h1>Nuestros Clientes</h1>
            </div>
        </div>
    </div>
</div>
<div class="section third-section">
    <div class="container centered">
        <div class="sub-section">
            <div class="title clearfix">
                <div class="pull-left">
                </div>
                <ul class="client-nav pull-right">
                    <li id="client-prev"></li>
                    <li id="client-next"></li>
                </ul>
            </div>
            <ul class="row client-slider" id="clint-slider">
                <li>
                    <a href="">
                        <img src="@Url.Content("~/Content/images/clients/Petranso.jpg")" alt="client logo 1">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="@Url.Content("~/Content/images/clients/RosaNautica.jpg")" alt="client logo 2">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>